*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#Title a{
    text-decoration: none;
    color: #ffff;
}

#Header{
    width: 100%;
    height: 50rem;
    background-image: url("HeaderPic.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding: 0 5%;
    box-sizing: border-box;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

nav ul{
    margin-left: 80px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    text-decoration: none;
    color: #ffff;
}

#HeaderMid{
    text-align: center;
    margin-top: 200px;
}

#HeaderMid h1{
    color: #ffff;
    font-size: 3rem;
}

#HeaderMid h2{
    font-size: 1.5rem;
}

#Globe{
    color: #ffff;
    background: #7B61FF;
    width: 310px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 12px;
    border: none;
}

#GlobeP{
    display: flex;
    justify-content: center;
}

#Globe:hover{
    cursor: pointer;
}

#Btns button{
    background-color: rgb(62, 62, 62);
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
}

#Btns button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#Btns button:hover{
    cursor: pointer;
}

#HeaderBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    width: 1100px;
    height: 70px;
    margin-top: 200px;
    border-radius: 12px;
}

#HeaderBottomP{
    display: flex;
    justify-content: center;
}


#HeaderBottom button{
    background-color: #7B61FF;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 10px;
}

#div1{
    margin-left: 10px;
    display: flex;
}

#div2,#div3,#div4{
    display: flex;
}

#img4, #img3 , #img2, #img1{
    margin-right: 10px;
    margin-top: 5px;
}

#menu-icon{
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.dropdown{
    display: none;
}

#Bar{
    color:white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* Dropdown */

.dropdown_menu li{
    list-style: none;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 100px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Body Styling */

    #body{
        width: 100%;
        height: 3100px;
    }

    .head_pics{
        width: 200px;
        height: 180px;
        border-radius: 12px;
        background: #C7C7C7;
        margin-right: 20px;
    }

    #head_pics{
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #head_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    }

    #head_title h1{
        margin-left: 300px;
    }

    #head_title div{
        margin-right: 300px;
    }

    #head_title2{
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #head_title2 button{
        width: 80px;
        height: 25px;
        border: none;
        border-radius: 10px;
        background: #F6F4FF;
        color: #5243C2;
        margin-right: 300px;
        cursor: pointer;
    }

    #head_title2 h1{
        margin-left: 300px;
    }

    #head_pics2{
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head_pics2{
        width: 320px;
        height: 380px;
        border-radius: 12px;
        background: #C7C7C7;
        margin-right: 20px;
    }

    #head_title3{
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #head_title3 button{
        width: 80px;
        height: 25px;
        border: none;
        border-radius: 10px;
        background: #F6F4FF;
        color: #5243C2;
        margin-right: 300px;
        cursor: pointer;
    }

    #head_title3 h1{
        margin-left: 300px;
    }

    #head_pics3{
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head_pics3{
        width: 320px;
        height: 380px;
        border-radius: 12px;
        background: #C7C7C7;
        margin-right: 20px;
    }

    .head_pics3P{
        display: flex;
    }

    #head_title4{
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #head_title4 button{
        width: 80px;
        height: 25px;
        border: none;
        border-radius: 10px;
        background: #F6F4FF;
        color: #5243C2;
        margin-right: 300px;
        cursor: pointer;
    }

    #head_title4 h1{
        margin-left: 300px;
    }

    #head_pics4{
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head_pics4{
        width: 320px;
        height: 380px;
        border-radius: 12px;
        background: #C7C7C7;
        margin-right: 20px;
    }

    #body_bottom{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #text{
        width: 556px; 
        margin-right: 40px;
    }

    #text h1{
        margin-bottom: 30px;
    }

    #btn3{
        width: 100px;
        height: 25px;
        border: none;
        border-radius: 10px;
        background: #F6F4FF;
        color: #5243C2;
        margin-right: 300px;
        cursor: pointer;
        margin-top: 30px;
    }

    #img{
        width: 650px;
        height: 430px;
        border-radius: 12px;
        background: #C7C7C7;
        margin-right: 20px;
    }

    .mid_text{
        width: 320px;
    }

    .mid_text h1{
        font-size:  20px;
        margin-bottom: 30px;
    }

    .mid_text p{
        font-size: 16px;
    }

/* Header Responsive */

@media screen and (max-width:1750px){
    #HeaderBottom{
        margin-top: 150px;
        transition: all 0.5s;
    }
    #HeaderMid{
        margin-top: 150px;
        transition: all 0.5s;
    }
}

@media screen and (max-width:1500px){
    #HeaderBottom{
        margin-top: 100px;
        transition: all 0.5s;
    }
    #HeaderMid{
        margin-top: 100px;
        transition: all 0.5s;
    }
    nav ul li{
        margin: 10px 20px;
        transition: all 0.5s;
    }
}

@media screen and (max-width:1270px){
    #HeaderBottom{
        margin-top: 80px;
        transition: all 0.5s;
    }
    #HeaderMid{
        margin-top: 80px;
        transition: all 0.5s;
    }
    #HeaderMid h1{
        font-size: 2rem;
        transition: all 0.5s;
    }
    #HeaderMid h2{
        font-size: 1rem;
        transition: all 0.5s;
    }
    #Globe{
        width: 280px;
        height: 50px;
        transition: all 0.5s;
    }
    #HeaderBottom{
        width: 900px;
        transition: all 0.5s;
    }
    nav ul li{
        margin: 10px 10px;
        transition: all 0.5s;
    }
}

@media screen and (max-width:1145px){
    #Btns button{
        width: 60px;
        height: 30px;
        transition: all 0.5s;
    }
    nav ul{
        margin-left: 30px;
        transition: all 0.5s;
    }
    #HeaderBottom{
        margin-top: 60px;
        width: 800px;
        transition: all 0.5s;
    }
    #HeaderMid{
        margin-top: 50px;
        transition: all 0.5s;
    }
}

 @media screen and (max-width:945px){
    nav ul{
        display: none;
        transition: all 0.5s;
    }
    #Bar{
        display: block;
        transition: all 0.5s;
    }
    .dropdown_menu{
        display: block;
    }
    #HeaderBottom{
        margin-top: 30px;
        width: 700px;
        transition: all 0.5s;
    }
    #HeaderMid{
        margin-top: 30px;
        transition: all 0.5s;
    }
    #HeaderMid h1{
        font-size: 1.5rem;
        transition: all 0.5s;
    }
    #Globe{
        width: 200px;
        height: 40px;
        transition: all 0.5s;
    }
}

@media screen and (max-width:755px){
    #div1,#div2,#div3,#div4{
        display: none;
        transition: all 0.5s;
    }
    #HeaderBottom{
        margin-top: 20px;
        width: 60px;
        height: 50px;
        transition: all 0.5s;
    }
    #HeaderBottom button{
        background-color: #7B61FF;
        border-radius: 12px;
        width: 45px;
        height: 40px;
        border: none;
        margin-right: none;
        margin-left: 8px;
        transition: all 0.5s;
    }
    #Globe{
        margin-top: 20px;
        transition: all 0.5s;
    }
}

@media screen and (max-width:730px){
    .dropdown_menu li{
        list-style: none;
        padding: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .dropdown_menu.open{
        height: 180px;
    }
}

@media screen and (max-width:600px){
    #Globe img{
        display: none;
        transition: all 0.5s;
    }
    #Globe h2 a{
        font-size: 0.7rem;
        transition: all 0.5s;
    }
    #HeaderMid{
        margin-top: 15px;
        transition: all 0.5s;
    }
    #HeaderMid h1{
        font-size: 1rem;
        transition: all 0.5s;
    }
    #Globe{
        margin-top: 15px;
        width: 150px;
        height: 30px;
        transition: all 0.5s;
    }
    #HeaderBottom{
        margin-top: 15px;
        width: 40px;
        height: 40px;
        transition: all 0.5s;
    }
    #HeaderBottom button{
        background-color: #7B61FF;
        border-radius: 12px;
        width: 30px;
        height: 30px;
        border: none;
        margin-right: none;
        margin-left: 5px;
        transition: all 0.5s;
    }
    .dropdown_menu li{
        list-style: none;
        padding: 0.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
    }
    
    .dropdown_menu.open{
        height: 110px;
        transition: all 0.5s;
    }

    .dropdown_menu li a{
        font-size: 0.7rem;
        transition: all 0.5s;
    }
}

@media screen and (max-width:465px){
    #Btns button{
        background-color: rgb(62, 62, 62);
        width: 50px;
        height: 20px;
        border-radius: 20px;
        border: none;
        margin-right: 5px;
        transition: all 0.5s;
    }
    #Btns button a{
        font-size: 0.6rem;
        transition: all 0.5s;
    }
    #Btns{
        margin-left: -50px;
        transition: all 0.5s;
    }
    #HeaderMid h1{
        display: none;
        transition: all 0.5s;
    }
    #Globe{
        margin-top: -5px;
        transition: all 0.5s;
    }
}

@media screen and (max-width:415px){
    .dropdown_menu li{
        list-style: none;
        padding: 0.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
    }

    .dropdown_menu{
        width: 80px;
        transition: all 0.5s;
    }
    
    .dropdown_menu.open{
        height: 90px;
        transition: all 0.5s;
    }

    .dropdown_menu li a{
        font-size: 0.5rem;
        transition: all 0.5s;
    }
}

@media screen and (max-width:375px){
    #HeaderBottom button{
        width: 20px;
        height: 20px;
        border: none;
        transition: all 0.5s;
    }
    #HeaderBottom button img{
        display: block;
        width: 1rem;
        text-align: center;
        margin-left: 2px;
        transition: all 0.5s;
    }
    #HeaderBottom{
        margin-top: 5px;
        width: 30px;
        height: 30px;
        transition: all 0.5s;
    }
    #Globe{
        margin-top: -15px;
        width: 100px;
        height: 20px;
        transition: all 0.5s;
    }
    #Globe h2 a{
        font-size: 0.5rem;
        transition: all 0.5s;
    }
    #Bar{
        margin-right: 20px;
        transition: all 0.5s;
    }
    .dropdown_menu li{
        list-style: none;
        padding: 0.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
    }

    .dropdown_menu{
        width: 70px;
        top: 40px;
        transition: all 0.5s;
    }
    
    .dropdown_menu.open{
        height: 70px;
        transition: all 0.5s;
    }

    .dropdown_menu li a{
        font-size: 0.4rem;
        transition: all 0.5s;
    }
}

@media screen and (max-width:320px){
    #Title{
        font-size: 1rem;
        margin-top: -15px;
        transition: all 0.5s;
    }
    #Title img{
        width: 10px;
        margin-bottom: -10px;
        transition: all 0.5s;
    }
}