*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}

#Title a{
    text-decoration: none;
    color: #ffff;
}

.a{
    text-decoration: none;
}

#Header{
    width: 100%;
    height: 100%;
    background-image: url("img/HeaderPic.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding: 0 5%;
    box-sizing: border-box;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

nav ul{
    margin-left: 80px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    text-decoration: none;
    color: #ffff;
}

#HeaderMid{
    text-align: center;
    margin-top: 200px;
}

#HeaderMid h1{
    color: #ffff;
    font-size: 3rem;
}

#HeaderMid h2{
    font-size: 1.5rem;
}

#Globe{
    color: #ffff;
    background: #7B61FF;
    width: 310px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 12px;
    border: none;
}

#GlobeP{
    display: flex;
    justify-content: center;
}

#Globe:hover{
    cursor: pointer;
}

#HeaderBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    width: 1100px;
    height: 70px;
    margin-top: 100px;
    border-radius: 12px;
}

#HeaderBottomP{
    display: flex;
    justify-content: center;
}


#HeaderBottom button{
    background-color: #7B61FF;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 10px;
}

#div1{
    margin-left: 10px;
    display: flex;
}

#div2,#div3,#div4{
    display: flex;
}

#img4, #img3 , #img2, #img1{
    margin-right: 10px;
    margin-top: 5px;
}

#menu-icon{
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.dropdown{
    display: none;
}

#Bar{
    color:white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* Dropdown */

.dropdown_menu li{
    list-style: none;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 100px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Body Styling */

    #body{
        width: 100%;
        height: 3755px;
    }

    .head_pics{
        width: 200px;
        height: 230px;
        border-radius: 12px;
        background: white;
        margin-right: 20px;
    }

    #head_pics{
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #head_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    }

    #head_title h1{
        margin-left: 300px;
    }

    #head_title div{
        margin-right: 300px;
    }

    #head_title2{
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #head_title2 button{
        width: 80px;
        height: 25px;
        border: none;
        border-radius: 10px;
        background: #F6F4FF;
        color: #5243C2;
        margin-right: 300px;
        cursor: pointer;
    }

    #head_title2 h1{
        margin-left: 300px;
    }

    #head_pics2{
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head_pics2{
        width: 320px;
        height: 440px;
        border-radius: 12px;
        background: white;
        margin-right: 20px;
    }

    #head_title3{
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #head_title3 button{
        width: 80px;
        height: 25px;
        border: none;
        border-radius: 10px;
        background: #F6F4FF;
        color: #5243C2;
        margin-right: 300px;
        cursor: pointer;
    }

    #head_title3 h1{
        margin-left: 300px;
    }

    #head_pics3{
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head_pics3{
        width: 320px;
        height: 380px;
        border-radius: 12px;
        background: #C7C7C7;
        margin-right: 20px;
    }

    .head_pics3P{
        display: flex;
    }

    #head_title4{
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #head_title4 button{
        width: 80px;
        height: 25px;
        border: none;
        border-radius: 10px;
        background: #F6F4FF;
        color: #5243C2;
        margin-right: 300px;
        cursor: pointer;
    }

    #head_title4 h1{
        margin-left: 300px;
    }

    #head_pics4{
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head_pics4{
        width: 320px;
        height: 420px;
        border-radius: 12px;
        background: white;
        margin-right: 20px;
    }

    #body_bottom{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #text{
        width: 556px; 
        margin-right: 40px;
    }

    #text h1{
        margin-bottom: 30px;
    }

    #btn3{
        width: 100px;
        height: 25px;
        border: none;
        border-radius: 10px;
        background: #F6F4FF;
        color: #5243C2;
        margin-right: 300px;
        cursor: pointer;
        margin-top: 30px;
    }

    #img{
        width: 650px;
        height: 430px;
        border-radius: 12px;
        background: #C7C7C7;
        margin-right: 20px;
    }

    .mid_text{
        width: 320px;
    }

    .mid_text h1{
        font-size:  20px;
        margin-bottom: 30px;
    }

    .mid_text p{
        font-size: 16px;
    } 

      .ratings {
        float: right;
      }
      
      .tours-card1 {
        display: flex;
        gap: 2rem;
        flex: 1;
        margin-left: 100px;
      }

      .tours-card2 {
        display: flex;
        gap: 2rem;
        flex: 1;
        margin-right: 150px;
      }
      
      .tours-card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1rem;
      }
      
      .tours-card-content-icons {
        display: flex;
        gap: 2rem;
        margin-top: 6rem;
      }
      .tours-card-content-icons h6 {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.6rem;
        font-size: 12px;
        color: #878787;
      }
      .tours-card-contents-text p {
        margin-top: 2rem;
      }
      
      .tours-card img {
        border-radius: 12px;
      }

    .tours-card-contents-text{
        width: 300px;
    }

    #About {
        display: flex;
        justify-content: center;
        margin-top: 120px;
        align-items: center;
        gap: 3rem;
      }
      #About h2 {
        font-size: 3.2rem;
      }
      #About p {
        width: 556px;
        font-size: 1.6rem;
        margin-top: 3rem;
      }
      .about-img img{
          border-radius: 12px;
      }




      /* Footer */


      footer {
        background: #f9f9f9;
        padding-top: 90px;
        padding-bottom: 90px;
        margin-top: 120px;
      }
      
      .footer-sections {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
        justify-content: space-between;
      }

      .footer-section1{
        margin-left: -50px !important;
      }
      .footer-section2{
        margin-left: -50px !important;
      }
      .footer-sections ul {
        margin-top: 2rem;
      }
      .footer-section p {
        font-size: 1.3rem;
        width: 300px;
        line-height: 1.9;
        margin-block: 1rem 2rem;
        color: #5b5b5b;
      }

      .footer-section{
          margin-left: 90px;
      }

      .footer-section3{
          margin-left: -50px !important;
      }

      .footer-section a {
        text-decoration: none;
        color: #5b5b5b;
        font-size: 1.3rem;
      }
      .footer-section h3 {
        font-size: 1.8rem;
      }
      
      .footer-social-icons {
        display: flex;
        gap: 3rem;
      }

      #email{
          width: 100px;
          height: 10px;
      }
      
      .footer-section:last-child {
        margin-left: auto;
        margin-right: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .footer-section:last-child form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
      }
      .footer-section:last-child label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.2;
        background-color: #fff;
        color: #5b5b5b;
        padding-left: 5px;
      }
      
      .footer-section:last-child input {
        border: none;
        outline: none;
        margin-top: 0.5rem;
        font-size: 1rem;
        color: black;
        background-color: white;
      }
      
      .footer-section:last-child img {
        margin-right: 1rem;
      }
      .form-section {
        display: flex;
        justify-content: center;
        line-height: 1.2;
        background-color: #fff;
        align-items: center;
        font-size: 1rem;
        padding: 1rem 2rem;
        padding-right: 3rem;
        border-radius: 12px;
      }
      .footer-section:last-child button {
        outline: none;
        border: none;
        background-color: #7b61ff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2rem;
        padding: 1rem;
        border-radius: 12px;
        cursor: pointer;
      }
      .footer-section:last-child button img {
        margin-right: 0;
      }

      .toggleOn
{
  display: none;
}

.toggleClose
{
  display: none;
}

.off {
    display: none;
  }
  
  .on {
    display: block;
  }

/* Header Responsive */

@media screen and (min-width:1750px){
    #HeaderBottom{
        margin-bottom: 150px;
        transition: all 0.5s;
    }
    #HeaderMid{
        margin-top: 150px;
        transition: all 0.5s;
    }
}

@media screen and (max-width:1750px){
    #HeaderBottom{
        margin-bottom: 150px;
        transition: all 0.5s;
    }
    #HeaderMid{
        margin-top: 150px;
        transition: all 0.5s;
    }
}

@media screen and (max-width:1563px){
    #HeaderBottom{
        margin-bottom: 100px;
        transition: all 0.5s;
    }
    #HeaderMid{
        margin-top: 100px;
        transition: all 0.5s;
    }
    nav ul li{
        margin: 10px 20px;
        transition: all 0.5s;
    }

    .tours-card-contents-text p{
        font-size: 0.8rem;
        transition: all 0.5s;
    }
    .tours-card-contents-text h3{
        font-size: 1rem;
        transition: all 0.5s;
    }
    .tours-card-contents-text{
        width: 100px;
        transition: all 0.5s;
    }
    .tours-card-content-icons{
        gap: 1rem;
        flex-direction: column;
        margin-top: 4rem;
        transition: all 0.5s;
    }
}

@media screen and (max-width:1320px){
    .head_pics img{
        width: 150px;
        height: 120px;
        transition: all 0.5s;
    }
    #head_pics{
        overflow-y: hidden;
    }
    .head_pics{
        margin-right: -30px;
        margin-top: 150px;
        transition: all 0.5s;
    }
    #head_pics2{
        height: 400px;
        overflow-y: hidden;
        transition: all 0.5s;
    }
    .head_pics2{
        margin-top: 250px;
        transition: all 0.5s;
    }
    .head_pics2 img{
        width: 200px;
        height: 250px;
        transition: all 0.5s;
    }
    .head_pics2 h6 img{
        display: none;
    }
    .ratings{
        display: none;
    }
    .head_pics2{
        margin-right: -70px;
        transition: all 0.5s;
    }
    #head_pics4{
        height: 400px;
        overflow-y: hidden;
        transition: all 0.5s;
    }
    .head_pics4{
        margin-top: 250px;
        transition: all 0.5s;
    }
    .head_pics4 img{
        width: 200px;
        height: 250px;
        transition: all 0.5s;
    }
    .head_pics4{
        margin-right: -90px;
        transition: all 0.5s;
    }
    #About h2 {
        font-size: 2rem;
        transition: all 0.5s;
      }
      #About p {
        width: 300px;
        font-size: 1rem;
        margin-top: 3rem;
        transition: all 0.5s;
      }
      #About img{
        width: 280px;
        height: 270px;
        transition: all 0.5s;
      }
      #body{
        height: 3090px;
        overflow-y: hidden;
        transition: all 0.5s;
      }
      .footer-section1{
        margin-top: 50px;
        margin-left: -20px !important;
        transition: all 0.5s;
      }
      .footer-section2{
        margin-top: 50px;
        margin-left: -20px !important;
        transition: all 0.5s;
      }
      .footer-section3{
        margin-top: 50px;
        margin-left: -20px !important;
        transition: all 0.5s;
      }
      .footer-section1 h3{
        font-size: 1.5rem;
        margin-bottom: -20px;
        transition: all 0.5s;
      }
      .footer-section2 h3{
        font-size: 1.5rem;
        margin-bottom: -20px;
        transition: all 0.5s;
      }
      .footer-section3 h3{
        font-size: 1.5rem;
        margin-bottom: -20px;
        transition: all 0.5s;
      }
      .footer-section1 ul li a{
        font-size: 1rem;
        transition: all 0.5s;
      }
      .footer-section2 ul li a{
        font-size: 1rem;
        transition: all 0.5s;
      }
      .footer-section3 ul li a{
        font-size: 1rem;
        transition: all 0.5s;
      }
      .footer-section0 p{
        font-size: 1rem;
        width: 200px;
        transition: all 0.5s;
      }
      .footer-section4 h3{
        font-size: 1.1rem;
        transition: all 0.5s;
      }
      .footer-section4{
        margin-top: 50px;
        transition: all 0.5s;
      }
      footer {
        background: #f9f9f9;
        padding-top: 50px;
        padding-bottom: 50px;
        transition: all 0.5s;
      }
}

@media screen and (max-width:1270px){
    #HeaderBottom{
        margin-top: 80px;
        transition: all 0.5s;
    }
    #HeaderMid{
        margin-top: 80px;
        transition: all 0.5s;
    }
    #HeaderMid h1{
        font-size: 2rem;
        transition: all 0.5s;
    }
    #HeaderMid h2{
        font-size: 1rem;
        transition: all 0.5s;
    }
    #Globe{
        width: 280px;
        height: 50px;
        transition: all 0.5s;
    }
    #HeaderBottom{
        width: 900px;
        transition: all 0.5s;
    }
    nav ul li{
        margin: 10px 10px;
        transition: all 0.5s;
    }
}

@media screen and (max-width:1145px){
    #Btns button{
        width: 60px;
        height: 30px;
        transition: all 0.5s;
    }
    nav ul{
        margin-left: 30px;
        transition: all 0.5s;
    }
    #HeaderBottom{
        margin-top: 60px;
        width: 800px;
        transition: all 0.5s;
    }
    #HeaderMid{
        margin-top: 50px;
        transition: all 0.5s;
    }
}

 @media screen and (max-width:945px){
    nav ul{
        display: none;
        transition: all 0.5s;
    }
    #Bar{
        display: block;
        transition: all 0.5s;
    }
    .dropdown_menu{
        display: block;
    }
    #HeaderBottom{
        margin-top: 30px;
        width: 700px;
        transition: all 0.5s;
    }
    #HeaderMid{
        margin-top: 30px;
        transition: all 0.5s;
    }
    #HeaderMid h1{
        font-size: 1.5rem;
        transition: all 0.5s;
    }
    #Globe{
        width: 200px;
        height: 40px;
        transition: all 0.5s;
    }
}

@media screen and (max-width:755px){
    #div1,#div2,#div3,#div4{
        display: none;
        transition: all 0.5s;
    }
    #HeaderBottom{
        margin-top: 20px;
        width: 60px;
        height: 50px;
        transition: all 0.5s;
    }
    #HeaderBottom button{
        background-color: #7B61FF;
        border-radius: 12px;
        width: 45px;
        height: 40px;
        border: none;
        margin-right: none;
        margin-left: 8px;
        transition: all 0.5s;
    }
    #Globe{
        margin-top: 20px;
        transition: all 0.5s;
    }
}

@media screen and (max-width:730px){
    .dropdown_menu li{
        list-style: none;
        padding: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .dropdown_menu.open{
        height: 180px;
    }
}

@media screen and (max-width:600px){
    #Globe img{
        display: none;
        transition: all 0.5s;
    }
    #Globe h2 a{
        font-size: 0.7rem;
        transition: all 0.5s;
    }
    #HeaderMid{
        margin-top: 15px;
        transition: all 0.5s;
    }
    #HeaderMid h1{
        font-size: 1rem;
        transition: all 0.5s;
    }
    #Globe{
        margin-top: 15px;
        width: 150px;
        height: 30px;
        transition: all 0.5s;
    }
    #HeaderBottom{
        margin-top: 15px;
        width: 40px;
        height: 40px;
        transition: all 0.5s;
    }
    #HeaderBottom button{
        background-color: #7B61FF;
        border-radius: 12px;
        width: 30px;
        height: 30px;
        border: none;
        margin-right: none;
        margin-left: 5px;
        transition: all 0.5s;
    }
    .dropdown_menu li{
        list-style: none;
        padding: 0.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
    }
    
    .dropdown_menu.open{
        height: 110px;
        transition: all 0.5s;
    }

    .dropdown_menu li a{
        font-size: 0.7rem;
        transition: all 0.5s;
    }
}

@media screen and (max-width:465px){
    #Btns button{
        background-color: rgb(62, 62, 62);
        width: 50px;
        height: 20px;
        border-radius: 20px;
        border: none;
        margin-right: 5px;
        transition: all 0.5s;
    }
    #Btns button a{
        font-size: 0.6rem;
        transition: all 0.5s;
    }
    #Btns{
        margin-left: -50px;
        transition: all 0.5s;
    }
    #HeaderMid h1{
        display: none;
        transition: all 0.5s;
    }
    #Globe{
        margin-top: -5px;
        transition: all 0.5s;
    }
}

@media screen and (max-width:415px){
    .dropdown_menu li{
        list-style: none;
        padding: 0.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
    }

    .dropdown_menu{
        width: 80px;
        transition: all 0.5s;
    }
    
    .dropdown_menu.open{
        height: 90px;
        transition: all 0.5s;
    }

    .dropdown_menu li a{
        font-size: 0.5rem;
        transition: all 0.5s;
    }
}

@media screen and (max-width:375px){
    #HeaderBottom button{
        width: 20px;
        height: 20px;
        border: none;
        transition: all 0.5s;
    }
    #HeaderBottom button img{
        display: block;
        width: 1rem;
        text-align: center;
        margin-left: 2px;
        transition: all 0.5s;
    }
    #HeaderBottom{
        margin-top: 5px;
        width: 30px;
        height: 30px;
        transition: all 0.5s;
    }
    #Globe{
        margin-top: -15px;
        width: 100px;
        height: 20px;
        transition: all 0.5s;
    }
    #Globe h2 a{
        font-size: 0.5rem;
        transition: all 0.5s;
    }
    #Bar{
        margin-right: 20px;
        transition: all 0.5s;
    }
    .dropdown_menu li{
        list-style: none;
        padding: 0.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
    }

    .dropdown_menu{
        width: 70px;
        top: 40px;
        transition: all 0.5s;
    }
    
    .dropdown_menu.open{
        height: 70px;
        transition: all 0.5s;
    }

    .dropdown_menu li a{
        font-size: 0.4rem;
        transition: all 0.5s;
    }
}

@media screen and (max-width:320px){
    #Title{
        font-size: 1rem;
        margin-top: -15px;
        transition: all 0.5s;
    }
    #Title img{
        width: 10px;
        margin-bottom: -10px;
        transition: all 0.5s;
    }
}